<h1>Building List</h1>

<%= link_to 'Upload New CSV File', new_building_path %>

<%= form_with(url: buildings_path, method: :get, local: true) do %>
  <div>
    <%= label_tag :search, 'Search:' %>
    <%= text_field_tag :search, params[:search], placeholder: 'Enter building name' %>
    <%= submit_tag 'Search' %>
  </div>

  <div>
    <%= label_tag :sort, 'Sort By:' %>
    <%= select_tag :sort, options_for_select([['Name', 'name'], ['Height', 'height']], params[:sort]), { onchange: 'this.form.submit();' } %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Building Name</th>
      <th>Building Height</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><%= building.name %></td>
        <td><%= building.height %></td>
        <td>
            <%= link_to 'Edit', edit_building_path(building) %>
            <%= button_to 'Delete', building_path(building), method: :delete, data: { confirm: 'Are you sure you want to delete this building?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<% if @buildings.empty? %>
  <tr>
    <td colspan="3">No buildings found.</td>
  </tr>
<% end %>

<%= paginate @buildings %>